.intlPhone-dialCode, .intlPhone-phoneNumber {
  display: inline-block;
  vertical-align: top;
  border: none;
  outline: none;
  height: 100%;
  float: left;
}

::-webkit-input-placeholder {
  line-height: 1.4;
}
::-moz-placeholder {
  line-height: 1.4;
}
:-ms-input-placeholder {
  line-height: 1.4;
}
