<template name="InternationalPhoneInput">  
    <input
      class="{{inputClass}} intlPhone-dialCode js-intlPhone--dialCode"
      autocomplete="off"
      name="dialCode"
      value="{{dialCode}}"
      maxlength="4"
      type="tel" />

    {{#if showSeparator}}
      <div class="intlPhone-separator separator"></div>
    {{/if}}

    <input
      class="{{inputClass}} intlPhone-phoneNumber js-intlPhone--phoneNumber"
      autocomplete="off"
      placeholder="{{#if placeholder}}{{placeholder}}{{else}}{{exampleCountryNumber}}{{/if}}"
      name="phoneNumber"
      type="tel" />
</template>
