<template name="InternationalPhoneInput">
  {{#unless noContainer}}
    <div class="intlPhone-inputContainer {{containerClass}}">
  {{/unless}}
  
    <input
      class="{{inputClass}} intlPhone-dialCode"
      autocomplete="off"
      name="dialCode"
      value="{{dialCode}}"
      maxlength="4" />

    {{#if showSeparator}}
      <div class="intlPhone-separator separator"></div>
    {{/if}}

    <input
      class="{{inputClass}} intlPhone-phoneNumber"
      autocomplete="off"
      placeholder="{{#if placeholder}}{{placeholder}}{{else}}{{exampleCountryNumber}}{{/if}}"
      name="phoneNumber"
      type="tel" />

  {{#unless noContainer}}
    </div>
  {{/unless}}
</template>
